html {

    background-color: #000;
    color: #fff;
    font-family: sans-serif;
}

a {

    color: orange;

}

a:hover{
        
    color:orange
}

img {

    max-width: 10%;
}


h1{

    margin-top: 25px;
}